body{
    overflow-x: hidden;
}
.food-starter{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.food-starter h3{
    color: #303c6c;
    text-decoration: #f4976c overline;
    font-weight: 30px;
    text-align: center;
}

.food-starter .starter-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food-starter .starter-container .col{
    flex-basis: 20%;
    padding-left: 3px;
    min-width: 400px;
    border-radius: 15px;
    border: 6px solid #;

}

.food-starter .starter-container .col img{
    padding: 0;
    height: 30vh;
    width: 22vw;
    border-radius: 15px;
    
}



.food-starter .starter-container .col .items{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            padding-left: 10px;
}
















