.footer{
    background-color: #303c6c;
    color: #d2fdff;
    margin-top: 8rem;
    display: flex;
    
}



.footer .row{
    
    margin: 4rem 0 4rem 3rem;
    display: flex;
    
}

.footer .row .col-img img{
    position: relative;
    left: 0;
    width: 18rem;
    height: 14rem;
}



.footer .row .social-media {
    margin-left: 10rem;
    display: grid;
    text-align: left;
}

.footer .row .social-media a .fa-brands, .fa-regular, .fa-solid{
    
    font-size: 20px;
    display: inline-flex;
    color: #f4976c;
    text-decoration: none;
    padding-top: 7px;
}


.footer .row .social-media a h6{ 
         text-transform: initial;
         color: #d2fdff;
         font-size: 10px;
         margin-left: 5px;
         font-weight: 400;
         letter-spacing: 1px;
}

.footer .row .col-rest{
    display: grid;
    position: relative;
    left: 500px;
}





.footer .row .col-rest h5{
    font-size: 20px;
    color: #d2fdff;
}



.footer .row .col-rest  span a, p, h6{
    text-decoration: none;
    font-size: 18px;
    color: #d2fdff;
}








.copyright{
    width: 100%;
    background: #303c6c;
    height: 20px;
}

.copyright h6{
       position: absolute;
        justify-content: center;
         color: #f4976c;
         font-size: 15px;
         margin-left: 5px;
         font-weight: 400;
         background: #303c6c;
}



















