*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     font-family: 'Source Sans Pro', sans-serif;
     background-color: rgba(251, 232, 166, 0.5);
}


/*---------logo-------*/

 

.side-bar{ 
    margin-top: 8em;
    height: 22em;
    width: 8em;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    background-color: #000;
    border-radius: 1em;
}

.side-bar .bar{
    margin-top: 2em;
    display: grid;

}

.side-bar .bar a{
    text-decoration: none;
    font-size: 1.2em;
    width: 7em;
    height: 2em;
    color: rgb(196, 192, 192);
    font-weight: 500;
}

.side-bar .bar a:hover{
    background-color: rgb(207, 197, 197);
    color: #000;
}

/*--------- media query for sidebar-----------*/
@media only screen and (max-width: 600px) {
  
.side-bar{
    height: 16em;
    width: 7.5em;
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    text-align: center;
    background-color: #000;
    border-radius: 1em;
}



.side-bar .bar{
    margin-top: 1.5em;
    display: grid;

}
}



/*-------- horizontal Nav bar--------*/
 



.nav-bar{
    width: 100%;
    height: 7em;
    position: fixed;
    background:  #f4976c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 1em;
}


.nav-bar .myBarz{
    left: 2em;
    display: flex;
    position: fixed;
    
}

.nav-bar .myBarz .fa-bars{
    font-size: 2em;
    cursor: pointer;
    color: #000;
}

.nav-bar .img img{
    position: absolute;
    left: 8em;
    top: 0;
    width: 8em;
    height: 7em;
}

.right-bar{
    display: inline;
    position: relative;
}

.right-bar .search{
    height: 4em;
    width: 22em;
    background: #fff;
    display: inline-flex;
    border-radius: 2em;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.right-bar .search input{
    outline: none;
    border: none;
    color: #444;
    font-size: 1.1em;
}
 
.right-bar .search button{
    border: none;
    background: #fff;
    cursor: pointer;
}

.right-bar .search .fa-magnifying-glass{
    color: #777;
    font-size: 1.3em;
}
 


   /*--------media query for the horizontal navBar-----------*/



   @media only screen and (min-device-width : 650px) and (max-width: 1200px)
   {
         
  
      .nav-bar{
          width: 100%;
          height: 7em;
          position: fixed;
          background:  #f4976c;
          flex-wrap: wrap;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          border-radius: 1em;
      }
      

      
.nav-bar .myBarz{
    left: 2em;
    display: flex;
    position: fixed;
    
}

.nav-bar .myBarz .fa-bars{
    font-size: 2em;
    cursor: pointer;
    color: #000;
}




      
      .nav-bar .img img{
          width: 6em;
          height: 5em;
      }
      
      .right-bar{
          display: flex;
          position: relative;
      
      }
      
      .right-bar .search{
          height: 2em;
          width: 14em;
          background: #fff;
          display: inline-flex;
          border-radius: 10px;
          justify-content: center;
          align-items: center;
          align-content: center;
      }
      
      .right-bar .search input{
          outline: none;
          border: none;
          color: #444;
          font-size: 1em;
      }
      
         
      .right-bar .search button{
          border: none;
          background: #fff;
          cursor: pointer;
      }
      
      .right-bar .search .fa-magnifying-glass{
          color: #777;
          font-size: 0.8em;
      } 
      
  
  
  
      
  
  }
  



/* Portrait and Landscape */
@media only screen and (max-width: 600px) {
       
.nav-bar{
    width: 100%;
    height: 6em;
    position: fixed;
    background:  #f4976c;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 1em;
}




.nav-bar .myBarz{
    left: 0.4em;
    display: flex;
    position: fixed;
    
}

.nav-bar .myBarz .fa-bars{
    font-size: 1.50em;
    cursor: pointer;
    color: #000;
}

.nav-bar .img img{
    
    position: absolute;
    width: 4em;
    height: 4em;
    left: 4em;
    top: 1em;

}

.right-bar{
    display: grid;
    position: fixed;
    right: 0;
}

.right-bar .search{
    height: 2em;
    width: 13em;
    background: #fff;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 19px;
}

.right-bar .search input{
    outline: none;
    border: none;
    color: #444;
    font-size: 0.8em;
}

   
.right-bar .search button{
    border: none;
    background: #fff;
    cursor: pointer;
}

.right-bar .search .fa-magnifying-glass{
    color: #777;
    font-size: 0.8em;
}


}

/*---------- blog post -----------*/

.blog{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 2rem 11rem;
    background-position: center;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.words{
    background-color: rgba(255, 255, 255, 0.1);
   text-align: center;
   color: rgb(241, 234, 234);
}


.blog .words h1{
    font-size: 5rem;
    opacity: 0.83;
    color: rgb(241, 234, 234);
}



.blog .words h6{
    font-size: 1.7rem;
    font-style: italic;
    opacity: 0.88;
    color: rgb(241, 234, 234);
}


.blog .words p{ 
    font-size: 2rem;
    color: #fff;
}


.blog .words .link{
    margin-top: 2.2rem;
    height: 3rem;
    width: 15rem;
    font-size: 1.5rem;
    color: #fff;
    border: 3px solid #fbe8a6;
    background:  #303c5f;
    border-radius: 1rem;
    transition: transform 1.5s;
    cursor: pointer;
}


.blog .words .link:hover{
    border: 2px solid #fff;
    transform: translateY(-5px);
}

@media only screen and (min-device-width : 650px) and (max-width: 1200px){
    
.blog{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 3rem 0;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.words{
    background-color: rgba(255, 255, 255, 0.1);
   text-align: center;
   color: rgb(241, 234, 234);
}


.blog .words h1{
    font-size: 3rem;
    opacity: 0.83;
    color: rgb(241, 234, 234);
}



.blog .words h6{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.88;
    color: rgb(241, 234, 234);
}


.blog .words p{ 
    font-size: 1rem;
    color: #fff;
}


.blog .words .link{
    margin-top: 1rem;
    height: 2rem;
    width: 12rem;
    font-size: 1.2rem;
    color: #fff;
    border: 3px solid #fbe8a6;
    background: #303c5f;
    border-radius: 1rem;
    transition: transform 1.5s;
    cursor: pointer;
}


.blog .words .link:hover{
    border: 2px solid #fff;
    transform: translateY(-5px);
}

}

@media only screen and (max-width: 600px) {


       
.blog{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 1em 0;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.words{
    background-color: rgba(255, 255, 255, 0.1);
   text-align: center;
   color: rgb(241, 234, 234);
}


.blog .words h1{
    font-size: 2rem;
    opacity: 0.83;
    color: rgb(241, 234, 234);
}



.blog .words h6{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.88;
    color: rgb(241, 234, 234);
}


.blog .words p{ 
    font-size: 1rem;
    color: #fff;
}


.blog .words .link{
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    font-size: 0.9rem;
    color: #fff;
    border: 3px solid #fbe8a6;
    background: #303c5f;
    border-radius: 1rem;
    transition: transform 1.5s;
    cursor: pointer;
}


.blog .words .link:hover{
    border: 2px solid #fff;
    transform: translateY(-5px);
}



}



























